/* Importation de la police de caractères depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Styles pour le corps de la page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #E6EFFA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.container {
    flex: 1;
}

/* Styles pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.9em;
}

nav ul:first-child li:first-child {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

nav ul:first-child li:first-child span {
    background-color: #323E6E;
    border-radius: 0.25rem;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.3rem;
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: 0.5rem;
}

nav a:hover,
nav a:focus {
    border-bottom: solid 3px #323E6E;
}

/* Styles pour le contenu principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Styles pour les formulaires */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form fieldset {
    margin-top: 2%;
    padding: 1rem;
    text-align: center;
    background-color: #FBFCFE;
    border: 3px solid #FBFCFE;
    border-radius: 0.5rem;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form fieldset legend {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #323E6E;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

form fieldset p {
    font-weight: bold;
}

form fieldset p label {
    text-align: left;
    width: 80%;
    display: inline-block;
}

form p input,
form p textarea {
    width: 80%;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: #E6EFFA;
    padding: 0.5rem;
    box-sizing: border-box;
}

form p input:focus,
form p textarea:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form p textarea {
    height: 100px;
    resize: none;
}

form p button[type='submit'] {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #F8883C;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form p button[type='submit']:hover {
    background-color: #E67E22;
}

/* Styles pour les messages */
.content-message,
.error-message,
.error-value,
.success-message {
    text-align: center;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.content-message {
    font-size: 1.2em;
    color: red;
    margin: 10px 10px 100px 10px;
}

.error-message,
.error-value {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error-value {
    padding: 0.1rem;
    width: 80%;
    margin: auto;
}

/* Styles pour le profil */
.content-profil {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content-profil h2 {
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: #323E6E;
}

.content-profil p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: #495057;
}

.content-profil .logout-link {
    color: #ff7f50;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.content-profil .logout-link:hover {
    background-color: #ff7f50;
    color: #fff;
    text-decoration: none;
}

/* Styles pour le formulaire reset email */
.form-reset-email,
.form-reset-password {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-reset-email h2,
.form-reset-password h2 {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: #323E6E;
    text-align: center;
}

.form-reset-email form,
.form-reset-password form {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group {
    margin-bottom: 0.75rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #495057;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #323E6E;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Styles spécifiques à la page de confirmation */
.content-mdp {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-mdp form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
}

.content-mdp form div.error-value {
    margin-bottom: 1rem;
}

.content-mdp form input {
    margin-bottom: 0.5rem;
}

.content-mdp form input[type="submit"] {
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #ff7f50;
    border: 1px solid #ff7f50;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content-mdp form input[type="submit"]:hover {
    background-color: #ef9445;
    border-color: #ef9445;
}

.content-mdp h1 {
    margin-bottom: 1.25rem;
}

/* Styles pour le footer */
footer {
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0.5rem;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer p {
    font-size: 0.9em;
}

/* Media Queries */

/* Moyens écrans (tablettes) */
@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        padding: 0.5rem 0;
    }

    form fieldset {
        min-width: 60%;
    }

    form fieldset legend {
        font-size: 1.5rem;
    }

    .content-profil {
        padding: 1rem;
    }

    .form-reset-email,
    .form-reset-password {
        padding: 1rem;
    }

    .content-mdp {
        padding: 1rem;
    }
}

/* Petits écrans (mobiles) */
@media screen and (max-width: 550px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        padding: 0.5rem 0;
    }

    nav a {
        font-size: 1.2rem;
    }

    form fieldset {
        width: 100%;
    }

    form fieldset legend {
        font-size: 1.2rem;
    }

    form p input,
    form p textarea,
    .content-mdp form input[type="submit"] {
        width: 80%;
        font-size: 0.9rem;
    }

    .content-profil {
        padding: 0.5rem;
    }

    .content-mdp {
        padding: 0.5rem;
    }

    .form-reset-email,
    .form-reset-password {
        padding: 0.5rem;
    }

    .form-control {
        padding: 0.5rem;
    }

    .btn-primary {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    footer ul li {
        margin: 0.5rem 0;
    }
}